<div class="navbar-form" ng-controller = 'adsController'>
<h3 class="title bg-info">广告列表</h3>
	<div class="search  form-inline">
		<div class="form-group mr5">
			<label>位置</label> <select class="form-control" ng-model="search.position" ng-options="o[0] as o[1] for o in positionList">
				<option value="">--请选择--</option>
			</select>
		</div>
		<div class="form-group mr5">
			<label>状态</label> <select class="form-control" ng-model="search.status" ng-options="o[0] as o[1] for o in adsStatusList">
				<option value="">--请选择--</option>
			</select>
		</div>
		<div class="form-group">
			<label>有效时间</label>
			<input class="form-control wdate"  onchange="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" text-date ng-model="search.fromDate"></input>
		</div>	
		<div class="form-group pull-right">
			<button class="btn btn-primary" ng-click="find(1)" >查询</button> 
			<button class="btn btn-success" ng-click="showModal()"  ng-show="getAccess(curMenu,2)"><i class="glyphicon glyphicon-plus mr5"></i>新增</button>
		</div>
	</div>
		   <table class="table table-bordered table-striped table-hover" >
			<thead class="title">
				 <th class="text-center">NO</th>
				 <th excel="none"><i class="glyphicon glyphicon-picture"></i></th>
                <th>位置</th>
                <th>链接类型</th>
				<th>标题</th>
				 <th style="width:120px;">{{'ON_OFF_LINE'|translate}}</th>
                 <th style="width:70px;">{{'STATUS'|translate}}</th>
                 <th style="width:80px;">{{'Administrator'|translate}}</th>
                 <th style="width:120px;">{{'DATATIME'|translate}}</th>
				<th excel="none">操作</th>
			</thead>
			<tbody>
			    <tr ng-if="items.totalPage == 0"><td colspan="9" class="text-center">{{'EMPTY_LIST'|translate}}</td></tr>
				<tr ng-repeat="item in items.list">
					<td class="text-center">{{$index + 1+items.pageSize*(items.currentPage-1)}}</td>
					<td class="text-center" excel="none"><img  class="wid64 hand" ng-src="{{getImgUrl(item.url,1)}}" ng-mouseover="pop(item.url)" ></td>
			    	<td >{{item.position| keyToValue : positionList}}</td>
			    	<td >{{item.pointType| keyToValue : pointTypeList}}</td>
				 	<td ><div uib-popover-html="item.trustedContent" popover-placement="right" popover-trigger="mouseenter">
				         {{item.title}}</div></td>
				 	<td><span class="green">{{item.startTime|formatDate:'{yyyy}/{MM}/{dd} {HH}:{mm}'}}</span><br>
						<span class="red">{{item.stopTime|formatDate:'{yyyy}/{MM}/{dd} {HH}:{mm}'}}</span>
					</td>
					<td>{{getState(item.status,item.startTime,item.stopTime)|translate}}</td>
					<td>{{item.modifier|idToValue:adminList}}</td>
					<td>{{item.modifyTime|formatDate:'{yyyy}/{MM}/{dd} {HH}:{mm}'}}</td>
					<td excel="none">
						 <span class="icon edit" ng-click="showModal(item.id)" ng-show="getAccess(curMenu,4)"></span> 
						 <span class="icon delete" ng-click="del(item.id)" ng-show="getAccess(curMenu,8)"></span> 
					</td>
				</tr>
			</tbody>
		</table>
        <div class="page-footer">
				<ng-include src="'/admin/pager.html'"></ng-include>
        </div>
</div>