		<div class="modal-header">
	           <h3 class="modal-title">{{(apply.id?'EDIT':'ADD')|translate}}球员找队
	           </h3>
	    </div>
	    <div class="modal-body container-fluid form-horizontal">
	         <form name="form" novalidate>  
			 <div class="form-group" >
				<label class="col-sm-2 control-label">{{'TITLE'|translate}}：</label>
				<div  class="col-sm-4">
					 <input type="text"  name="title" ng-model ="apply.title" class="form-control" placeholder=""
					 required maxlength="50"  >
				</div>
				
				<label class="col-xs-2 control-label">球员：</label>
				<div class="col-xs-4" uib-popover="{{form.player.$error.required?'请选择球员！':''}}" popover-placement="top" popover-trigger="mouseenter">
					<input type="text" required  ng-model="apply.player" name="player" placeholder="" class="form-control" ng-class="{'waiting':loadingPlayer}" 
					uib-typeahead="o as o.name+(o.teamTitle?'&nbsp;&nbsp;&nbsp;['+o.teamTitle+']':'') for o in getPlayer($viewValue,false)" typeahead-min-length=0  typeahead-loading="loadingPlayer" typeahead-wait-ms='300' />
				</div>
							
			</div>
		 <div class="form-group" >
				<label class="col-sm-2 control-label">发布至广场：</label>
				<div  class="col-sm-4">
					<select class="form-control" ng-model="apply.isPublic" name='isPublic' ng-options="o[0] as o[1] for o in yesnoList" 	required >
						<option value="">{{'SELECT'|translate}}</option>
					</select>
				</div>
				<label class="col-xs-2 control-label">意向赛制：</label>
				<div class="col-xs-4"  uib-popover="{{form.dreamType.$error.required?'请输入赛制！':''}}" popover-placement="top" popover-trigger="mouseenter">
					<select class="form-control" required ng-model="apply.dreamType" name="dreamType" ng-options="o[0] as o[1]  for o in teamTypeList">
						<option value="">--请选择--</option>
					</select>
				</div>
			</div>
			 <div class="form-group">
				<label class="col-xs-2 control-label">内容：</label>
				<div class="col-xs-10">
					<textarea type="text" style="height:150px;resize:auto" class="form-control" name="content" required ng-model="apply.content"   />
				</div>
		    </div>
		  </form>
		</div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" type="button" ng-click="save(apply)" >{{'CONFIRM'|translate}}</button>
	        <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL'|translate}}</button>
	    </div>
  
