	<div class="modal-header">
            <h3 class="modal-title">{{title|translate}}</h3>
    </div>
    <div class="modal-body container-fluid form-inline">
    	 <div ng-repeat="item in items|orderBy:'seq'">
	    	 <div class="col-xs-10 col-xs-offset-1">
	    	 	<div class="form-group nowrap">
	    	 		<label class="wid18"><i ng-click="item.opened=!item.opened" class="glyphicon" ng-class="{'glyphicon-plus':!item.opened,'glyphicon-minus':item.opened}"></i>
	    	 		</label>
	    	 		<input class="form-control" ng-model="item.code" ng-class="{error:!!item.codeErr}"></input>
	    	 		<input class="form-control" ng-model="item.name" ng-class="{error:!!item.nameErr}"></input>
	    	 		<!-- 一级分类排序  -->
	    	 		<label class="wid18"><i ng-click="moveItem(items,item,1)" class="glyphicon glyphicon-arrow-down"  ng-show="items.length>0"></i>
	    	 		</label>
					<label ng-show="item.sons.length==0"><button ng-click="minusItem(items,item)" class="btn  btn-danger"><i class="glyphicon glyphicon-minus"></i></button>
	    	 		</label>
	    		</div>
	    	 </div>
	    	 <div class="col-xs-10 col-xs-offset-2" ng-if="item.opened">
	    	 	<div class="form-group nowrap" ng-repeat="son in item.sons|orderBy:'seq'">
	    	 		<input class="form-control" ng-model="son.code" ng-class="{error:!!son.codeErr}"></input>
	    	 		<input class="form-control" ng-model="son.name" ng-class="{error:!!son.nameErr}"></input>
	    	 		<!-- 二级级分类排序  -->
	    	 		<label class="wid18"><i ng-click="moveItem(item.sons,son,1)" class="glyphicon glyphicon-arrow-down"  ng-show="item.sons.length>0"></i>
	    	 		<label><button ng-click="minusSon(item,son)" class="btn  btn-danger"><i class="glyphicon glyphicon-minus"></i></button>
	    	 		</label>
	    		</div>
	    		 <div>
          		  <button class="btn  btn-success" ng-click="addSon(item)"><i class="glyphicon glyphicon-plus"></i></button>
			     </div>
	    	 </div>
		 </div>
		 <div class="col-xs-9 col-xs-offset-1">
	    	      <button class="btn  btn-success" style="margin-left: 20px;" ng-click="addType(items)"><i class="glyphicon glyphicon-plus"></i></button>
	     </div>
	 </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">{{'CONFIRM'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL'|translate}}</button>
    </div>