<div class="page"  style="font-size:12px;">
	  <ul class="pagination" ng-show ="items.totalPage">	
	  	  <li ><span>每页
	      <select  style="width:80px;padding:0;border:none" type="number"   ng-model="items.pageSize" ng-change="find(1)" ng-options="o[0] as o[1] for o in [[10,'&nbsp;&nbsp;&nbsp;10'],[20,'&nbsp;&nbsp;&nbsp;20'],[50,'&nbsp;&nbsp;&nbsp;50'],[100,'&nbsp;&nbsp;&nbsp;100'],[100000,'&nbsp;&nbsp;&nbsp;全部']]">
	      </select>条</span></li>
          <li ng-if="$first" ng-repeat-start="page in items.pages track by $index"  ng-class="{disabled:items.currentPage ==1}" ng-click="items.currentPage >1 && (items.currentPage = items.currentPage-1) && find()"><a>«</a></li>
		  <li ng-class="{active:page==items.currentPage}"><a ng-click="page>0?find(page):''" ng-style="{border:page>0?'':'none'}">{{page}}</a></li>
	      <li ng-if="$last" ng-repeat-end ng-class="{disabled:items.currentPage == items.totalPage}" ng-click="items.currentPage < items.totalPage && (items.currentPage = items.currentPage+1) && find()"><a>»</a></li>
	      <li><span>共{{items.totalRecord}}条记录</span></li>
	  </ul>
 	<button onclick="clickDownload()" style="margin-top:20px;font-size:12px;"  class="btn btn-default pull-right">导出EXCEL</button>
</div>
