<form name="form" novalidate>
     <div class="modal-header">
            <h3 class="modal-title">{{(adminUser.id?'EDIT':'ADD')|translate}}{{'PASSWORD'|translate}}</h3>
    </div>
   <div class="modal-body container-fluid">
	   <div  class="form-group col-sm-12">
			<label class="col-sm-3 control-label">{{'ORIGINAL'|translate}}{{'PASSWORD'|translate}}</label>
			<div class="col-sm-9">
				<input  type="password" id="pold" ng-model="passwordold" class="form-control"placeholder=""
				 required ng-minlength="2" ng-maxlength="50" uib-popover="2~50 characters!" popover-placement="top" popover-trigger="mouseenter" >
			</div>
		</div>
		
		<div  class="form-group col-sm-12">
			<label class="col-sm-3 control-label">{{'FRESH'|translate}}{{'PASSWORD'|translate}}</label>
			<div class="col-sm-9">
				<input  type="password" id="pnew"  ng-model="passwordnew" class="form-control"placeholder=""
				 required ng-minlength="2" ng-maxlength="50" uib-popover="2~50 characters!" popover-placement="top" popover-trigger="mouseenter" >
			</div>
		</div>
		
		<div  class="form-group col-sm-12">
			<label class="col-sm-3 control-label">{{'RETYPE'|translate}}{{'PASSWORD'|translate}}</label>
			<div class="col-sm-9">
				<input  type="password" id="ptwo" ng-model="passwordtwo" class="form-control"placeholder=""
				 required ng-minlength="2" ng-maxlength="50" uib-popover="2~50 characters!" popover-placement="top" popover-trigger="mouseenter" >
			</div>
		</div>
		
  </div>
     <div class="modal-footer">
        <li class="pull-right mr5"><button class="btn btn-warning"ng-click="cancel()">{{'CANCEL'|translate}}</button></li>
      	<li class="pull-right mr5"><button class="btn btn-primary" ng-click="savePassWord()" id="savePass">{{'CONFIRM'|translate}}</button></li>
	    
    </div>
</form>