<form   name="form" novalidate>
<div class="modal-body form-horizontal" >
    <!-- Tab panes -->
    <uib-tabset>
        <uib-tab  heading="基本信息" ng-style="getTabError(form,'auditStatus')">
            <div class="row" style="padding-top:12px;">
                <div class="col-xs-6">
                    <!-- <div class="form-group">
                        <label class="col-xs-4 control-label">帐号:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="account" ng-model="player.account" required  ng-pattern="/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){4,14}$/" id={{player.id}} ensure_unique='account' api='/player/checkUnique' 
                            uib-popover="{{form.account.$error.required?'帐号不可为空！':(form.account.$error.pattern?'请输入由字母开头的5~15个字符！':(form.account.$error.unique?'帐号已被使用':''))}}" popover-placement="top" popover-trigger="mouseenter"
                             />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-xs-4 control-label required" >手机号:</label>
                        <div class="col-xs-8" >
                            <input type="text" class="form-control" name="mobile" ng-model="player.mobile" ng-pattern="/^(1)\d{10}$/" id={{player.id}}  required ensure_unique='mobile' api='/player/checkUnique'  
                           uib-popover="{{form.mobile.$error.required?'手机号不可为空！':(form.mobile.$error.pattern?'手机号格式错误！':(form.mobile.$error.unique?'手机号已被使用':''))}}" popover-placement="top" popover-trigger="mouseenter"
                             />
                        </div>
                    </div>
                   <!--  <div class="form-group" ng-if="admin.role.id==1">
                         <label class="col-xs-4 control-label">登录密码:</label>
                         <div class="col-xs-8" uib-popover="6~50 characters!" popover-placement="top" popover-trigger="mouseenter">
                             <input  type="{{passType?'text':'password'}}" ng-model="player.password" class="form-control" placeholder="" required ng-minlength="6" ng-maxlength="50"  >
                             <button class="btn btn-default" style="position: absolute;right:17px;top:1px;height:32px;border:none" ng-click="passType = !passType">
                                 <i class="glyphicon" ng-class="{'glyphicon-eye-open':!passType,'glyphicon-eye-close':passType}"></i></button>
                         </div>
                    </div>-->
                    <div class="form-group" ng-if="admin.role.id==1">
                        <label class="col-xs-4 control-label">登录密码:</label>
                        <div class="col-xs-8" uib-popover="6~50 characters!" popover-placement="top" popover-trigger="mouseenter">
                            <input  type="{{passType?'text':'password'}}" ng-model="player.password" class="form-control" placeholder="" required ng-minlength="6" ng-maxlength="50"  >
                            <!--<button class="btn btn-default" style="position: absolute;right:17px;top:1px;height:32px;border:none" ng-click="passType = !passType">
                                <i class="glyphicon" ng-class="{'glyphicon-eye-open':!passType,'glyphicon-eye-close':passType}"></i></button>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">姓名:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="player.name" name="name"
                            uib-popover="{{form.name.$error.required?'请输入球员姓名！':''}}" popover-placement="top" popover-trigger="mouseenter"
                            /> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">身份证号:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="idno" ng-model="player.idno" required id={{player.id}}   ensure_unique='idno' api='/player/checkUnique'
                             uib-popover="{{form.idno.$error.required?'身份证号不可为空！':(form.idno.$error.pattern?'身份证号格式错误！':(form.idno.$error.unique?'身份证号已被使用':''))}}" popover-placement="top" popover-trigger="mouseenter"
                            /> 
                        </div>
                    </div>
                     <div class="form-group">
		  				<label class="col-xs-4 control-label">性别:</label>
		               	 <div class="col-xs-8">
		                    <select class="form-control" ng-model="player.gender" ng-options="o[0] as o[1] for o in genderList">
		                        <option value="">--请选择--</option>
		                    </select>
		                </div>
                    </div>
                   

                </div>
                <div class="col-xs-6">
	                <div class="thumbnail col-sm-11 col-sm-offset-1 text-center wheelDiv" ng-class="{missImg:!player.iconUrl}" >
				 		  <img  alt=""  ng-src="{{getImgUrl(player.iconUrl,2)}}" id="playerIcon" image-load="wheel(getImgUrl(player.iconUrl,2))"  class="wheelImg" />
					 		  <div class="caption">
				             <p>
				             <button class="btn btn-warning height34" ng-click="clearImg(player)"><i class="glyphicon glyphicon-erase"></i></button>
				             <button class="btn btn-default height34" ng-click="uploadImage(player)"><i class="glyphicon glyphicon-picture "></i></button>
				            </p>
				          </div>
				    </div>
                </div>
            </div>



            <div class="form-group">
                 <label class="col-xs-2 control-label">Email:</label>
                <div class="col-xs-4">
                    <input type="email" class="form-control" name="email" ng-model="player.email" id={{player.id}}  ensure_unique='email' api='/player/checkUnique'
                  uib-popover="{{form.email.$error.required?'请填写电子邮箱！':(form.email.$error.pattern?'电子邮箱格式错误！':(form.email.$error.unique?'电子邮箱已被使用':''))}}" popover-placement="top" popover-trigger="mouseenter"
                    />
                </div> 
                <label class="col-xs-2 control-label">地址:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.address">
                </div>
              
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">昵称:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.nickname">
                </div>
                <label class="col-xs-2 control-label">生日:</label>
                <div class="col-xs-4">
                    <input class="form-control wdate" ng-model="player.birthDay" readonly="readonly" onchange=""
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">QQ:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.qq">
                </div>
                <label class="col-xs-2 control-label">微信:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.wechat">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">身高:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.height" name="height" between='{"lt":230,"gt":100}' 
                    uib-popover="{{form.height.$error.between?'身高在100cm至230cm之间！':''}}" popover-placement="top" popover-trigger="mouseenter"/>
                </div>
                <label class="col-xs-2 control-label">体重:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.weight" name="weight" between='{"lt":150,"gt":50}' 
                    uib-popover="{{form.weight.$error.between?'体重在50kg至150kg之间！':''}}" popover-placement="top" popover-trigger="mouseenter"/>
                </div>
            </div>

            <div class="form-group">
                
                <label class="col-xs-2 control-label">个人网页:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="player.personalPage">
                </div>
                
                <label class="col-xs-2 control-label"  >审核状态:</label>
                <div class="col-xs-4" uib-popover="{{form.auditStatus.$error.required?'请选择审核状态！':''}}" popover-placement="top" popover-trigger="mouseenter">
                    <select class="form-control" ng-model="player.auditStatus" name="auditStatus" required    ng-options="o[0] as o[1] for o in auditStatusList"
                            >
                        <option value="">--请选择--</option>
                    </select> 
                </div>
            
            </div>
        </uib-tab>
        <uib-tab heading="比赛信息" ng-style="getTabError(form,'isCaptain')">
            <div class="form-group" style="padding-top:12px;">
                <label class="col-xs-2 control-label">是否队长</label>
                <div class="col-xs-4" uib-popover="{{form.isCaptain.$error.required?'请选择是否队长！':''}}" popover-placement="top" popover-trigger="mouseenter">
                    <select class="form-control" name="isCaptain" required  ng-model="player.isCaptain" ng-options="o[0] as o[1] for o in yesnoList"  >
                        <option value="">--请选择--</option>
                    </select>
                </div>

                <label class="col-xs-2 control-label">所属球队</label>
                <div class="col-xs-4">
                      <input type="text"  ng-model="player.team" name="team" placeholder="" class="form-control" ng-class="{'waiting':loadingTeamA}" 
					uib-typeahead="o as o.teamTitle for o in getTeam($viewValue)" typeahead-min-length=0 typeahead-editable=false typeahead-loading="loadingTeamA" typeahead-wait-ms='300' />
                    </input>
                </div>
            </div>
            <div class="form-group">
            	<label class="col-xs-2 control-label">球员状态:</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="player.playerStatus" ng-options="o[0] as o[1] for o in playerStatusList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
                
                <label class="col-xs-2 control-label">球衣号码</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" ng-model="player.uniformNumber"  name="uniformNumber" between='{"lt":99,"gt":1}' 
                    uib-popover="{{form.uniformNumber.$error.between?'球衣号码在1至99之间！':''}}" popover-placement="top" popover-trigger="mouseenter"/>
                </div>
             
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">擅长位置</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="player.position"
                            ng-options="o[0] as o[1] for o in playerPositionList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
                 <label class="col-xs-2 control-label">球员类型</label>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="player.kind"
                            ng-options="o[0] as o[1] for o in playerKindList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
				<label class="col-xs-2 control-label">活动频率:</label>
				<div class="col-xs-4" >
                    <!--uib-popover="{{form.acRate.$error.required?'请选择活动频率！':''}}" popover-placement="top" popover-trigger="mouseenter"-->
					<select class="form-control"  ng-model="player.acRate" name="acRate" ng-options="o[0] as o[1] for o in acRateList">
						<option value="">--请选择--</option>
					</select> 
				</div>
			</div>

            <div class="form-group">
                <label class="col-xs-2 control-label">踢球风格</label>
                <div class="col-xs-10">
                    <textarea class="form-control" ng-model="player.introduce">
                    </textarea>
                </div>
            </div>

        </uib-tab>
        <uib-tab heading="统计信息" >
            <div class="form-group">
                <label class="col-xs-2 control-label">比赛场次:</label>
                <div class="col-xs-4 mt7">
                     <span>{{player.total}}</span>
                </div>
                <label class="col-xs-2 control-label">胜:</label>
                <div class="col-xs-4 mt7">
                     <span>{{player.win}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">平:</label>
                <div class="col-xs-4 mt7">
                     <span>{{player.even}}</span>
                </div>
                <label class="col-xs-2 control-label">负:</label>
                <div class="col-xs-4 mt7">
                     <span>{{player.lost}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">参与活动次数:</label>
                <div class="col-xs-4 mt7">
                     <span>{{player.attendTimes}}</span>
                </div>
                  <label class="col-xs-2 control-label">点赞个数:</label>
                <div class="col-xs-4 mt7">
                    <span>{{player.likeNum}}</span>
                </div>
             </div>
             <div class="form-group">
             	  <label class="col-xs-2 control-label">身价:</label>
                <div class="col-xs-4 mt7">
                    <span>{{player.value}}</span>
                </div>
             
                
                <label class="col-xs-2 control-label">综合得分:</label>
                <div class="col-xs-4 mt7">
                      <span>{{player.point}}</span>
                </div>
                
             </div>
             <div class="form-group">
                <label class="col-xs-2 control-label">当前扣分:</label>
                <div class="col-xs-4 mt7">
                    <span type="number">{{player.pointMinus||0}}</span>
                </div>
                <label class="col-xs-2 control-label">再罚:</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" ng-model="player.pulish">
                </div>
            </div>
            
        </uib-tab>
    </uib-tabset>
   </div>
</form>
   <div class="modal-footer">
       <button class="btn btn-primary" type="button" ng-click="save(player)">{{'CONFIRM'|translate}}</button>
       <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL'|translate}}</button>
   </div>