<div id="applyDetail"  ng-controller="applyDetailController">
	<div class="list body">
		<div class="head ">
	        <h3 class="title">{{apply.title||'自我推荐信'}}<span >{{apply.isOpen?'':'(已关闭)'}}</span></h3>
            <div class=" time"><span class="mr5">{{apply.player.name}}  发布于：</span> <span class="gray">{{apply.applyTime|formatDate:"{yyyy}年{M}月{d}日 {HH}:{mm}"}}</span> </div>
	        <div class="white-border1_2"></div>
	        <p class="text" compile="apply.content"></p>
        </div>
       <div class="grid" ng-if="apply.total >0">
          <div class="body-title">球队列表</div>
               <table cellpadding="0" cellspacing="0">
                   <thead class="title">
                       <td>申请球队</td>
                       <td>球队审核</td>
                       <td>审核时间</td>
                       <td>是否加入球队</td>
                       <td>操作时间</td>
                   </thead>
                   <tbody >
                   <tr ng-repeat="item in tanks">
                       <td class="text-left padl20"><img ng-src="{{getImgUrl(item.team.iconUrl)}}" class="img24 mr10"/><a ng-href="#/{{module}}/teamDetail?id={{item.player.team.id}}">{{item.team.teamTitle}}</a></td>
                       <td>{{item.auditStatus==1?'欢迎您加入球队!':(item.auditStatus==2?'抱歉！已拒绝':'待审批')}}</td>
                       <td>{{item.auditTime|formatDate:'{yyyy}/{MM}/{dd} {HH}:{mm}'}}</td>
                       <td><span ng-if="item.auditStatus==1">{{item.confirmStatus==1?'已加入球队!':(item.auditStatus==2?'已放弃加入':'待确认')}}</span></td>
                      <td>{{item.confirmTime|formatDate:'{yyyy}/{MM}/{dd} {HH}:{mm}'}}</td>
                    </tr>
                   </tbody>
               </table>
               <div class="page-footer">
							 <uib-pagination total-items="apply.total" ng-model="apply.curPage"  class = "pagination-sm" max-size="10" boundary-links = "true"
							  ng-change="pageLocal()"
							previous-text="&lt;上一页" next-text="下一页&gt;" first-text="首页" last-text ="尾页"></uib-pagination>
	         </div>
       </div>
	</div>
       	<ng-include src="'comments.html'"></ng-include>
</div>
