<div class="left-team" ng-if="game.teamA.dismissed!=1">
    <img class="team-logo" ng-src="{{getImgUrl(game.teamA.iconUrl,1)}}" ng-click="gotoPage('/'+module+'/teamDetail?id='+game.teamA.id)" />
   <div class="team-name text-ellipsis"><a  ng-click="gotoPage('/'+module+'/teamDetail?id='+game.teamA.id)">{{game.teamA.teamTitle}}</a></div> 
 </div>
 
 <div class="left-team" ng-if="game.teamA.dismissed==1">
    <img class="team-logo gray" uib-popover="已解散" popover-trigger="mouseenter" popover-append-to-body="true"
      ng-src="{{getImgUrl(game.teamA.iconUrl,1)}}"  />
    <div class="team-name text-ellipsis"><a  >{{game.teamA.teamTitle}}</a></div>
 </div>